<!DOCTYPE html>
<html>
<head>
    <title>PDF Viewer</title>
    <style>
        .pdf-viewer {
            width: 100%;
            height: 800px;
        }
    </style>
</head>
<body>
    <embed class="pdf-viewer" src="{{ url_for('static', filename='sample_pdf.pdf') }}" type="application/pdf">
</body>
</html>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    var openTime = new Date();
    // Send a request to start eye tracking
    $.post("{{ url_for('start_tracking') }}", function(data, status){
        console.log("Data: " + data + "\nStatus: " + status);
    });
    $(window).on('beforeunload', function(){
        var closeTime = new Date();
        var duration = closeTime - openTime;
        $.post("{{ url_for('time_spent') }}", {duration: duration}, function(data, status){
            console.log("Data: " + data + "\nStatus: " + status);
        });
        // Send a request to stop eye tracking
        $.post("{{ url_for('stop_tracking') }}", function(data, status){
            console.log("Data: " + data + "\nStatus: " + status);
        });
    });
});
</script>
